<a href="https://colab.research.google.com/github/mohdkhairilabdulkarim/STQD6014-Data-Science/blob/main/STQD6014_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1**

In [ ]:
# Define student names, subjects, and exam scores
# A minimum of three different subjects
students={
    'hansen':{
        'Malay': 80,
        'History': 78,
        'Mathematics': 76,
    },
    'jason':{
        'Malay': 50,
        'History': 67,
        'Mathematics': 63,
        'English': 52,
        'Science': 53,
    },
    'malik':{
        'Malay': 60,
        'History': 70,
        'Mathematics': 41,
    },
    'darmia':{
        'Malay': 82,
        'History': 59,
        'Mathematics': 73,
    },
    'berlin':{
        'Malay': 60,
        'History': 82,
        'Mathematics': 78,
        'English': 92,
}
}

In [ ]:
# Define empty list to collect average of each student for comparison
collected_average=[]

# Define empty list to collect the name of student for print
collected_student=[]

# The starting process to display average score for each student
print("Average Score for Each Student:")

# Recall keys and values to start calculating average
for name, subject in students.items():

    count=0 #to start counting the number of subject for each student
    total=0 #to start summing the score of all subjects for each student

    # Recall the score for each subject of each student
    for score in subject.values():
        count+=1 #to count the number of subject for each student
        total+=score #to sum the score of all subjects for each student

    # Calculate and display the average score for each student
    average=total/count
    print(name.title() + ": " + str(format(average,".2f"))) #display average in 2 decimal places

    # Append average and name of student while still in for loop
    collected_average.append(average)
    collected_student.append({'name':name,'average':average})

Average Score for Each Student:
Hansen: 78.00
Jason: 57.00
Malik: 57.00
Darmia: 71.33
Berlin: 78.00

In [ ]:
# Identify the students with the highest score:

# Display the highest average score
print("Student(s) with the Highest Average Score: " + str(format(max(collected_average),".2f")))

for name_highest in collected_student:
        if name_highest['average']==max(collected_average): # Multiple name can be display for the same highest average score
            print(name_highest['name'])

# Identify the students with the lowest score:

# Display the lowest average score
print("Student(s) with the Lowest Average Score: " + str(format(min(collected_average),".2f")))

for name_lowest in total_student:
        if name_lowest['average']==min(collected_average): # Multiple name can be display for the same lowest average score
            print(name_lowest['name'])

Student(s) with the Highest Average Score: 78.00
Hansen
Berlin
Student(s) with the Lowest Average Score: 57.00
Jason
Malik

# **break**

In [ ]:
total_score=[]

for x,y in students.items():
    print("\nStudent name: " + x)
    print(y.keys())
    print("\tSubject A score: " + str(y['subject_A']))
    print("\tSubject B score: " + str(y['subject_B']))
    print("\tSubject C score: " + str(y['subject_C']))

    #total score of subject
    total=0
    for z in y.values():
        total+=z
    print(total)

    #Calculate and display the average score for each student
    average=total/3
    print("Average score of all subjects: " + str(average))

    #append total
    total_score.append(total)

print(max(total_score))
print(min(total_score))

    #append by subject

    #Identify the students with the highest and lowest scores.

    #Highest/lowest all scores

    #Highest/lowest scores by subject

    #Highest/lowest of average scores

Student name: A
dict_keys(['subject_A', 'subject_B', 'subject_C'])
	Subject A score: 30
	Subject B score: 50
	Subject C score: 70
150
Average score of all subjects: 50.0

Student name: B
dict_keys(['subject_A', 'subject_B', 'subject_C', 'subject_D'])
	Subject A score: 33
	Subject B score: 50
	Subject C score: 74
229
Average score of all subjects: 76.33333333333333

Student name: C
dict_keys(['subject_A', 'subject_B', 'subject_C'])
	Subject A score: 30
	Subject B score: 53
	Subject C score: 72
155
Average score of all subjects: 51.666666666666664
229
150

In [ ]:
total_score=[]

for x,y in students.items():
    print("\nStudent name: " + x)

    #total score of subject
    count=0
    total=0
    for z in y.values():
        count+=1
        total+=z

    #Calculate and display the average score for each student
    average=total/count
    print("Average score of all subjects: " + str(average))

    #append total
    total_score.append(average)

print(max(total_score))
print(min(total_score))

    #append by subject

    #Identify the students with the highest and lowest scores.

    #Highest/lowest all scores

    #Highest/lowest scores by subject

    #Highest/lowest of average scores

Student name: A
Average score of all subjects: 50.0

Student name: B
Average score of all subjects: 57.25

Student name: C
Average score of all subjects: 51.666666666666664
57.25
50.0