<a href="https://colab.research.google.com/github/mohdkhairilabdulkarim/STQD6014-Data-Science/blob/main/STQD6014_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1 (5%)**
# **STQD6014 Sains Data**
## **SEMESTER 1 2023/2024**

For this assignment, you are required to write a Python program to manage **student names** and their **exam scores** for **a minimum of three different subjects**. Your program should have the following functionalities:

1.
Calculate and display the **average score for each student**.

2.
Identify the students with the **highest and lowest scores**.

Your program should be capable of handling situations where **multiple students may have the same highest or lowest score**. In such cases, the program should display the **names of all students** involved and their respective scores.

Please share your Python program with my email at bernardlkb@ukm.edu.my. The deadline for Assignment 1 submission is **2023-11-19**.

# **Student's Information**

**Name:** Mohd Khairil Abdul Karim

**Matric No:** P133931

**Lecturer:** Dr. Bernard Lee Kok Bang

# **Answer:**

## **Task 1:** To build information of student names, subjects, and exam scores
### (**Assumption:** Each student may have taken different number of subjects)

In [ ]:
# Define student names, subjects, and exam scores
# A minimum of three different subjects
# Dictionary consists of student's name and various number of subjects taken
# Information store in double layer of dictionary
students={
    'hansen':{
        'Malay': 80,
        'History': 78,
        'Mathematics': 76,
    },
    'jason':{
        'Malay': 50,
        'History': 67,
        'Mathematics': 63,
        'English': 52,
        'Science': 53,
    },
    'malik':{
        'Malay': 60,
        'History': 70,
        'Mathematics': 41,
    },
    'darmia':{
        'Malay': 82,
        'History': 59,
        'Mathematics': 73,
    },
    'berlin':{
        'Malay': 60,
        'History': 82,
        'Mathematics': 78,
        'English': 92,
}
}

## **Task 2:** To calculate the average score of each student

In [ ]:
# Define empty list to collect average score of each student for comparison
# Will be used later when comparing min/max value
collected_average=[]

# Define empty list to collect the name of student for print
# Will be used later when detecting which student got the min/max value
collected_student=[]

# The starting process to display average score for each student
print("Average Score for Each Student:")
print("-------------------------------")

# Recall keys and values in dictionary to start calculating average
# Using for loop to recall information one by one
for name, subject in students.items():

    count=0 #to start counting the number of subject taken by each student
    total=0 #to start summing the score of all subjects for each student

    # Recall the score for each subject of each student
    # Using another for loop to determine the total subject taken and total score
    for score in subject.values():
        count+=1 #to count the number of subject taken by each student
        total+=score #to sum the score of all subjects for each student

    # Calculate and display the average score for each student
    # Using the information from for loop above
    average=total/count

    # Display average score in 2 decimal places for standardization
    print(name.title() + ": " + str(format(average,".2f")))

    # Append average and name of student while still in for loop
    # Appended list will be used to detect min/max average score
    collected_average.append(average)
    collected_student.append({'name':name,'average':average})

Average Score for Each Student:
-------------------------------
Hansen: 78.00
Jason: 57.00
Malik: 57.00
Darmia: 71.33
Berlin: 78.00

## **Task 3:** To list down the student with highest/lowest score
###(**Assumption:** There may exist more than one student name with the same highest/lowest score)

In [ ]:
# Identify the students with the highest score:

# Display the highest average score from calcualtion
print("Student(s) with the Highest Average Score " + str(format(max(collected_average),".2f")) + ":")
print("-------------------------------------------------")

# Process to detect which student got the highest average score
for name_highest in collected_student:
        if name_highest['average']==max(collected_average): # Multiple name can be display for the same highest average score
            print(name_highest['name'].title())

# Identify the students with the lowest score:

# Display the lowest average score from calculation
print("\nStudent(s) with the Lowest Average Score of " + str(format(min(collected_average),".2f")) + ":")
print("--------------------------------------------------")

# Process to detect which student got the lowest average score
for name_lowest in collected_student:
        if name_lowest['average']==min(collected_average): # Multiple name can be display for the same lowest average score
            print(name_lowest['name'].title())

Student(s) with the Highest Average Score 78.00:
-------------------------------------------------
Hansen
Berlin

Student(s) with the Lowest Average Score of 57.00:
--------------------------------------------------
Jason
Malik

# **End of Answer**